
.header-sticker {
  position: fixed;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
}

header {
  z-index: 99;
  /* From https://css.glass */
  background: var(--header-background);
  box-shadow: var(--header-shadow);
  backdrop-filter: blur(16.3px);
  -webkit-backdrop-filter: blur(16.3px);
  border: var(--header-border);
  transition: 0.15s all ease;

  border-radius: 8px;
  width: calc(100% - 8px);
  max-width: 900px;
  margin: 4px 0;

}

@media screen and (width >= 640px) {
  header {
    margin: 32px 0;
    width: 100%;
  }
}


