<div 
  (click)="onClickImage()"
  class="card cursor-pointer">
    <div class="flex items-center justify-center h-64 overflow-hidden">
      <img 
        class="rounded-t-lg  h-auto w-full mh-full" 
        loading="lazy" 
        [src]="image()" alt="{{starship()?.name}}" />
    </div>
    <div class="p-5">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{starship()?.name}}</h5>
        <p class="mb-3 font-normal text-gray-700 ">{{starship()?.manufacturer}}</p>
        <p class="mb-3 font-sm text-gray-700">Pasajeros: {{starship()?.passengers}}</p>
    </div>
  </div>
