<div class="home fade-in">
  <h1 class="rounded-lg p-2.5 text-gray-200">
    Bienvenido <strong>{{ userData?.name }}</strong>
  </h1>
  <p class="p-2.5">
    Esta es tu página de inicio, creada con grid y totalmente responsive.
  </p>
  @if (isImageSelected()) {
  <div class="card">
    <p class="p-2.5">Has seleccionado la imágen {{ imageSelected() }}</p>
  </div>
} 
  
  @if (isLoading()) {
  <svg
    class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>
  <span>Conectando...</span>
  }@else {
  <section class="home-grid">
    <!-- utilizamos -->
    @defer () { 
      @for (starship of starships; track $index) {
      <app-card
        [starship]="starship"
        (clickImage)="onImageSelected($event)"
        [image]="getImage(starship.url)"
        ></app-card>
      } 
    }@placeholder {
    <svg
      class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      ></path>
    </svg>
    <span>Conectando...</span>
    }
  </section>
  }
</div>
